.container {
  display: flex;
  flex-direction: row;
}

.warpper {
  display: flex;
  flex-direction: row;
}

.box {
  width: 100px;
  height: 100px;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}

@media screen and (max-width: 1024px) {
  .warpper {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
