.MainDiv {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.box {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: space-evenly;
}
.box_icon_text {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-size: 15px;
}
.iconsize {
  font-size: 30px;
}
