.MainDiv {
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.album {
  width: fit-content;
  display: flex;
  flex-direction: row;
}

.pictrue {
  width: 100;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pictrue > image {
}
